<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 

<!--

<svg width="100%" height="100%" style="position: absolute; left:0;top: 0;">
        <defs>
          <filter id="blur-and-invert">
            <feColorMatrix type="saturate" values="1" result="fbSourceGraphic" />
            <feColorMatrix in="fbSourceGraphic" values="-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0 " />
          </filter>
        </defs>
        <foreignObject width="100%" height="100%" filter="url(#blur-and-invert)">

        </foreignObject>
</svg>
-->

<router-outlet></router-outlet>          


