.img1{
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.hero{
    display:flex;
}
.content1{
    position: relative;
}
.content1words{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 300px;
}
.content1words p{
    max-width:300px;
    margin-left:20px;
    margin-right:20px;
}
.content1words img{
    width:250px;
    height:200px;
}
.banner{
    width:100%;
    margin-top:-200px;
}
.content1words .words1 img{
}
.content1words .words2 img{

}
.content1words .words3 img{
}

.video{
    clip-path: polygon(0 25%, 100% 25%, 100% 70%, 0 70%);
    
 }
.content1words strong{
    font-family:"Big Shoulders Stencil Display";
    font-size: 15px;
    color:rgb(255, 123, 0);
}
.newscontent{
    display:flex;
    flex-direction: row;
    overflow-x:scroll;
}
.newscontent .card{
    margin: 0px 10px 0px 10px;
}
.news1{
    
}
.news2{

}
.news3{

}
.news4{
    
}
.card span{
    color:gray;
    font-size:12px;
}
.card img{
    width:100%;
    height:100%;
}
.card {
    min-width:200px;
    height:200px;
    padding: 10px 10px 10px 10px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  @media only screen and (max-width: 600px) {
    .h1{
        display: none;
    }
    .content1{
        width:100% !important;
    }
}