<h1>Invoices </h1>
<div class="searchBox">
    <strong>Lookup</strong> <select [(ngModel)]="lookUpKey">
    <option [ngValue]="'Common'">Common</option>
    </select>
    <span id="search"><input type="text" placeholder="pending..." (keypress)="handleKeyboardEventSearch($event)" [(ngModel)]="searchPrompt"></span>
    <br><br>    
    <button
[ngClass]="{'tab-active': queryMode=='sinceDate'}"
(click)="filterBySinceDate()"
>Since</button> <input 
(keypress)="handleKeyboardEvent($event)"
type="date" [(ngModel)]="sinceDate">  &nbsp; 
<button [ngClass]="{'tab-active':queryMode=='sinceMonth' && sinceMonthAgo==12}"
    (click)="filterBySinceMonth(12)">Last 12 Months</button>
<button 
[ngClass]="{'tab-active':queryMode=='sinceMonth' && sinceMonthAgo==3}" 
(click)="filterBySinceMonth(3)">Last 3 Months</button>
<hr>
{{totalAmount}} Records Match<button id="next" (click)="previousPage()"><<</button> Showing <input (input)="onSearchChange($event)"id="currentPage" [ngModel]="currentPage"> of {{totalPage}} {{totalPage>1? 'pages' : 'page'}} <button id="next" (click)="nextPage()">>></button>
</div>
<div class="table-wrapper2" style="overflow-x:scroll;">
        <table id="customers">
                <tr>                            
                    <th class="label">Invoice Date</th>
                    <th class="label">Paid Amount</th>
                    <th class="label">Expected Amount</th>
                    <th class="label">Invoice Label</th>
                    <th class="label">Status</th>
                </tr>
            <tr *ngFor="let invoice of invoiceDisplayData" >
                <ng-container *ngIf="invoice==undefined,else showData">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </ng-container>
                <ng-template #showData >                    
                <!--<th>{{dateFromISO(invoice.invoice_date)}}</th>-->
                <th>{{invoice.invoice_date}}</th>
                <th>${{invoice.paid_amount}}</th>
                <th>${{invoice.expected_amount}}</th>
                <th>{{invoice.description}}</th>
                <th [ngStyle]="{'color':getColorFromStatus(invoice)}">{{invoice.status}}</th>
            </ng-template>
            </tr>
        </table>
</div>

<br>
<button class="button2" (click)="export_to_csv()">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>        
Export to CSV</button>
