
<!--------------------EDIT CUSTOMER------------>
<modal id="edit-customer-modal" >

    <button (click)="editMember()">Save Edit</button>
    <button style="background:red;color:white;" (click)="closeModal('edit-customer-modal');">Cancel</button>

    <ng-container *ngIf="tab=='edit'">

    
    <ng-container *ngIf="customer">
    <h1 style="margin-top:50px;">
        <label (click)="tab='edit'" [ngClass]="{'tab-active':tab=='edit'}" style="display:inline-block">
            Edit Climber</label>
        <label (click)="tab='photo'" [ngClass]="{'tab-active':tab=='photo'}" style="display:inline-block;margin-left:30px;">
            Photo</label>
    </h1>
    
    <div class="infobox smooth-borders" style="display:flex;padding-bottom:10px;">
        <div>
            <h2>Basic Info</h2>
            <label><strong style="color:red">*</strong>Title</label> <select  [ngStyle]="{'border': invalid[0]==true ? 'red solid 1px' : ''}" style="width:100px;" [(ngModel)]="title">
                    <option [value]="'Mr.'">Mr.</option>
                    <option [value]="'Mrs.'">Mrs.</option>
                    <option [value]="'Miss.'">Miss.</option>
                    <option [value]="'Mx.'">Mx.</option>
                    <option [value]="'Prof.'">Prof.</option>
                    <option [value]="'Dr.'">Dr.</option>
                    <option [value]="'Master.'">Master.</option>
                </select><br>
            <label><strong style="color:red">*</strong>Last Name</label> <input type="text" [(ngModel)]="lastName" disabled/> <br>
            <label><strong style="color:red">*</strong>First</label>  <input type="text" [(ngModel)]="firstName" disabled/> <br>
                <label>Middle</label>  <input type="text" [(ngModel)]="middleName" disabled/><br>
            
            <label><strong style="color:red">*</strong>Birthday</label> <input type="date" [ngStyle]="{'border': invalid[1]==true ? 'red solid 1px' : ''}" [(ngModel)]="birthday"/><br>                
        </div>
        <div>
            <h2>Address Info</h2>
            <label>Address 1</label> <input type="text" [(ngModel)]="address1"/><br>
            <label>Address 2</label><input type="text" [(ngModel)]="address2"/><br>
            <label>Postal Code</label><input type="text" [(ngModel)]="postalCode"/><br>
            <label>City</label><input type="text" [(ngModel)]="city"/><br>
            <label>Country</label><input type="text" [(ngModel)]="country"/><br>
        </div>      
        <div>
            <h2>Contact Info</h2>
            <label>Cell Phone</label><input type="text" [(ngModel)]="cellphone"/><br>
            <label>Home Phone</label><input type="text" [(ngModel)]="homephone"/><br>
            <label>Work Phone</label><input type="text" [(ngModel)]="workphone"/><br>
            <label><strong style="color:red">*</strong>Email</label> <input type="email" [ngStyle]="{'border': invalid[2]==true ? 'red solid 1px' : ''}"[(ngModel)]="email"/><br>
        </div>
        <div>
            <h2>Emergency Contact</h2>
            <label><strong style="color:red">*</strong>Emergency Contact Name</label><input type="text" [ngStyle]="{'border': invalid[3]==true ? 'red solid 1px' : ''}" [(ngModel)]="emergencyContact"/><br>
            <label><strong style="color:red">*</strong>Emergency Contact Relation</label><input type="text" [ngStyle]="{'border': invalid[4]==true ? 'red solid 1px' : ''}" [(ngModel)]="emergencyContactRelation"/><br>
            <label><strong style="color:red">*</strong>Emergency Contact Phone</label><input type="text" [ngStyle]="{'border': invalid[5]==true ? 'red solid 1px' : ''}" [(ngModel)]="emergencyContactPhone"/><br>
            <h2>Short Note</h2>
            <input type="text" [(ngModel)]="notes"/>
        </div>  
    </div>
</ng-container>
<div  class="infobox smooth-borders" style="margin-top:10px;height:250px;display:flex">
    <div style="flex-shrink: 0;">
                <h2>Email Preferences</h2>                
                <label style="display:inline">Mail On CRM Event</label><input style="width:10px" type="checkbox" [(ngModel)]="mail_on_internal_events"/><br><br>
                <label style="display:inline">Mail Promotions</label><input style="width:10px" type="checkbox" [(ngModel)]="mail_promotions"/><br><br>
                <label style="display:inline">Do Not Mail</label><input style="width:10px" type="checkbox" [(ngModel)]="do_not_send_mail"/><br><br>
            </div>
            <div >
                              <h2>Other Information</h2>
                <label>Experience</label><select [(ngModel)]="proficiency_level">
                        <option [ngValue]="'beginner'">Beginner</option>
                        <option [ngValue]="'intermediate'">Intermediate</option>
                        <option [ngValue]="'advanced'">Advanced</option>
                        <option [ngValue]="'veteran'">Veteran</option>
                </select>
                <label>How did you get to know us?</label><select [(ngModel)]="got_to_know_channel">
                        <option [ngValue]="'newspaper'">News Paper</option>
                        <option [ngValue]="'email'">Email</option>
                        <option [ngValue]="'wordofmouth'">Word of mouth</option>
                        <option [ngValue]="'searchengine'">Search Engine</option>
                        <option [ngValue]="'other'">Other</option>
                </select>
                </div>
    <!---WAIVER SIGNATURE--->
    <div style="margin-left:65px;">
        <h2>Keyfob ID Access</h2>        
        <label style="display:inline">Can Access After Hours</label><input style="width:10px" type="checkbox" [(ngModel)]="accessAfterHours"/>
        <br>
        <br>
        <label>Leave blank to do it later...</label>
        <input type="text"  (keypress)="handleKeyboardEventKeyFob($event)" [(ngModel)]="paxton_card_id"><br><br>
        <button (click)="clearKeyFob()" >Clear Key Fob</button>
        
    </div>
    
    <!--PAYMENT METHODS-->
    <ng-container *ngIf="customer;else empty">    
    <div style="display:flex;margin-left:30px;">
    <!-------------->     
        <div>
        <h2>Payment Methods:</h2>
        <!--------------------->
        <select style="width:150px;" [(ngModel)]="cardSelection">
        <ng-container *ngIf="customer.paymentMethods.length==0">
            <option [value]="'nocard'">No Cards Found</option>
        </ng-container>
        <option [ngValue]="card.id" *ngFor="let card of customer.paymentMethods">
            Card ****** {{card.last_four}}
        </option>
        </select><br>
        <ng-container *ngIf="addingNewPaymentMethod==false;else addingNew">
            <button style="width:150px;height:80px;" (click)="addingNewPaymentMethod=true">Add new payment method</button>
            <button style="width:150px;height:50px;" (click)="delete_card(cardSelection)">Delete Saved Card</button>
        </ng-container>
        <ng-template #addingNew>
            <button style="width:150px;height:50px;" (click)="addingNewPaymentMethod=false">Cancel</button><br>
            <button style="width:150px;height:50px;" (click)="addNewPaymentMethod()">Confirm</button>
        </ng-template>
        <!------------------->
        </div>
        <ng-container *ngIf="addingNewPaymentMethod==true;">
        <div style="margin-top:10px;">
        <label>Card Number</label> <input type="text" [(ngModel)]="card_number"/>
        <label>Card Expiry Month</label><input type="number" [(ngModel)]="card_expiry_month"/><br>
        <label>Card Expiry Year</label><input type="number" [(ngModel)]="card_expiry_year"/>
        <label>CVC</label><input type="text" [(ngModel)]="card_cvc"/><br>        
        </div>
        </ng-container>
    </div>
    </ng-container>
    <!--------------------->
    <ng-template #empty>
        Only Available after the customer is created.
    </ng-template>
    <!--------------------->
    
</div>

<ng-container *ngIf="loading">
    <div class="lds-ring" style="margin-left:80px">                          
            <img src="assets/img/logo2.png" >                                          
            <!--
            <p style="position:absolute;z-index:4;font-size:10px;
            left:25px;top:38px;width:100px;
                font-family: 'grifter'
            ">Fetching and storing waivers... <br>This might take a while...</p>
            -->
        <div></div>                    
</div>
</ng-container>
</ng-container>
<ng-container *ngIf="tab=='photo'">
    <h1 style="margin-top:50px;">
        <label (click)="tab='edit'" [ngClass]="{'tab-active':tab=='edit'}" style="display:inline-block">
            Edit Customer</label>
        <label (click)="tab='photo'" [ngClass]="{'tab-active':tab=='photo'}" style="display:inline-block;margin-left:30px;">
            Photo</label>
    </h1>
    <div class="infobox smooth-borders" style="display:flex;" >
        <webcam
        *ngIf="shooting"
        [width]="700"
        [height]="600"
        [mirrorImage]="'never'"
        [trigger]="triggerObservable" (imageCapture)="handleImage($event)" 
        ></webcam>
        <img  *ngIf="!shooting" src="{{customer.profile_photo}}" style="width:700px;height:520px;">

        <div>
            <br>
        <ng-container *ngIf="shooting">
            <button (click)="triggerSnapshot()">Take a shot (Say Cheese)</button>
        </ng-container>
        <ng-container *ngIf="!shooting">
            <button (click)="shooting=true">Take another one</button>
        </ng-container>
    </div>
        
    </div>
    

</ng-container>

</modal>
    
    
    
     