<button class="button1 disabled" (click)="openModal('visit-history-modal')">
    <s>Visit History</s>
</button>

<modal id="visit-history-modal" >
    <pre>
    <button style="float:right" (click)="closeModal('visit-history-modal');">X Cancel</button>
Name  Since <input type="date"> <buttoN>update</buttoN>
0 Visits   <buttoN>Last 12 Months</buttoN> <buttoN>Last 3 Months</buttoN>
<hr>
</pre>
<div style="width:300px;height:300px">

</div>
<button>Change Check In Date</button>
<button>Print</button>
<button>OK</button>

</modal>



