.leftBlock{
}
.rightBlock{
    width:550px;
}
.topBlock{
    display:flex;
}
.bottomBlock{
    display:flex;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;   
    background:white; 
    border: black solid 1px !important;
    overflow-x: scroll;
    height:200px;
    width: 100%;
  }
  a{
    height:50px;
  }
  #customers .label {
    text-align: left;
    padding-left:5px;
    background-color: #5a5a5a;
    color: rgb(255, 255, 255);
    padding-top:10px;
    padding-bottom:10px;
}  
.table-wrapper{
  height:250px;overflow-y:scroll;overflow-x:scroll;position:relative;
}
.table-wrapper .label{
  position:sticky;
  top:0;
}
.table-wrapper2{
  height:250px;overflow-y:scroll;overflow-x:scroll;position:relative;
}
.table-wrapper2 .label{
  position:sticky;
  top:0;
}
#customers td, #customers th {
    text-align: left;
    padding-left:5px;
    height:5px;
    font-size: 10px;
    border: 1px solid #ddd;
    width:30px;
  }
  
  #customers tr:nth-child(odd){background-color: white}
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}

.chosen{
    background:gray;
}
.btn-small{
    padding:5px 10px 5px 10px;
    font-size: 13px;
}

::-webkit-scrollbar-track
 {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3) !important;
     background-color: #F5F5F5;
 }
::-webkit-scrollbar
 {
     width: 2px !important;
     height:10px !important;
     background-color: #F5F5F5;
 }
 
::-webkit-scrollbar-thumb
 {
     background-color: rgb(151, 151, 151);	
     background-image: -webkit-linear-gradient(45deg,
                                               rgba(255, 255, 255, .2) 25%,
                                               transparent 25%,
                                               transparent 50%,
                                               rgba(255, 255, 255, .2) 50%,
                                               rgba(255, 255, 255, .2) 75%,
                                               transparent 75%,
                                               transparent)
 }
 .recipient{
    box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    -moz-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
    background-color: #f2f2f2;
     padding:5px 5px 5px 5px;
     flex-wrap: nowrap;
     display:flex;
     margin-right:5px;
     flex-shrink: none;
 }
 .cancel{
    margin-left:5px !important;
 }
 .cancel:hover{
     color:#fc5000;     
 }

 .wrapper {
    width: 500px;
    position:relative;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.progress-indicator{
    position: absolute;
    margin-top:-20px;
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #659cef;
    border-radius: 3px;
    
    transition: width 500ms ease-in-out;
}
header{
  position: relative;
}


