<button class="button-5 disabled" (click)="openModal('customer-view-waiver-modal')">
    <s>Waivers</s>
</button>

<modal id="customer-view-waiver-modal" >
    <pre>
    <button style="float:right" (click)="closeModal('customer-view-waiver-modal');">X Cancel</button>
Name  Since <input type="date"> <buttoN>update</buttoN>
0 Visits   <buttoN>Last 12 Months</buttoN> <buttoN>Last 3 Months</buttoN>
<hr>
</pre>
<div style="width:300px;height:300px">

</div>
<button>Change Check In Date</button>
<button>Print</button>
<button>OK</button>

</modal>



