.button2{
    padding: 30px 30px 30px 30px;   
    font-size: 15px;
    height:152px;
    font-family: Arial, Helvetica, sans-serif;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;   
    background:white; 
    border: black solid 1px !important;
    overflow-x: scroll;
    height:200px;
    width: 100%;
  }
  a{
    height:50px;
  }
  #customers .label {
    text-align: left;
    padding-left:5px;
    background-color: #5a5a5a;
    color: rgb(255, 255, 255);
    padding-top:-5px;
    padding-bottom:-5px;
}  
.table-wrapper{
  height:250px;overflow-y:scroll;overflow-x:scroll;position:relative;
  width:1000px;
}
.table-wrapper .label{
  position:sticky;
  top:0;
}
.table-wrapper2{
  height:250px;  width:300px;overflow-y:scroll;overflow-x:scroll;position:relative;
}
.table-wrapper2 .label{
  position:sticky;
  top:0;
}
#customers td, #customers th {
    text-align: left;
    padding-left:5px;
    height:5px;
    font-size: 15px;
    border: 1px solid #ddd;
    width:30px;
  }
  
  #customers tr:nth-child(odd){background-color: white}
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}

.leftBlock{
    width:500px;
}
.rightBlock{
    width:500px;
    margin-left:-50px;
    
}
.addedMembersBox{
    width:300px;
    height:300px;
    border:black solid 1px;
}